@import '@/styles/_variables.scss';

.note {
  position: relative;

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    border-bottom: 1px solid $color-java;
    padding: 10px 20px;

    .controls {
      display: flex;
      align-items: center;

      > div:not(:last-child) {
        margin-right: 15px;
      }
    }

    .text {
      max-width: 40%;
      font-size: 25px;
      line-height: 25px;
      word-break: break-all;
      color: $color-java;
    }

    .input {
      border: none;
      max-width: 40%;
      font-size: 25px;
      line-height: 25px;
      color: $color-java;
      background-color: transparent;
    }
  }

  .content {
    display: flex;
    flex-flow: column;
    padding: 10px 20px;
    min-height: 100px;

    .button {
      align-self: flex-end;
    }
  }

  .footer {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid $color-java;
    padding: 10px 20px;

    > div:not(:last-child) {
      margin-right: 15px;
    }
  }
}
