// BASE COLORS
$color-white: #fff;
$color-black: #000;
$color-charade: #282c35;
$color-java: #14b6bd;
$color-red-orange: #f84435;

// OTHER

$transition: 0.2s ease;
$shadow: 0 5px 10px rgba($color-black, 0.03);
