@import '@/styles/_variables.scss';

.home {
  position: relative;
  display: flex;
  flex-flow: column;

  .controls {
    display: flex;
    justify-content: center;

    > div:not(:last-child) {
      margin-right: 15px;
    }
  }
}
