@import '@/styles/_variables.scss';

.home {
  position: relative;
  display: flex;
  flex-flow: column;

  .controls {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    > div:not(:last-child) {
      margin-right: 15px;
    }
  }

  .content {
    > div:not(:last-child) {
      margin-bottom: 25px;
    }
  }
}
